#header{
    background-color: #4ea0ff;
    background-size: contain;
    background-image: url('img/pattern.png');
}

#logo{
    height: 50px;
    padding-top: 25px;
}

#titolo{
    margin-top: 10px;
    margin-bottom: 1px;
}

#autore{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: lightgrey;
}

#autore-nome{
    color: #4ea0ff;
}

#data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 1px;
    margin-bottom: 20px;
    color: lightgrey;
}